body * {
	font-family: roboto;
}
.header {
	font-family: roboto !important;
}
button {
	font-family: roboto !important;
}
#root, .App {
	min-height: 100vh;
}
.App>div {
	min-height: 100vh;
}
.grid-form {
	height: 100%;
	background-color: #006838;
	display: flex;
	align-items: center !important;
	margin: 0 !important;
}
.format-form {
	width: 400px;
	padding: 20px 14px;
	background-color: #FFFFFF;
	border-radius: 3px;
	border-style: inset;
	border-color: rgba(0, 104, 56, 0.7)
}
.format-form label {
	float: left;
}
.form-but {
	width: 100%;
	color: #FFFFFF !important;
	background-color: #006838 !important;	
}
.regist-form {
	margin: 0 10px;
	overflow-y: auto;
	max-height: calc(100% - 20px);
}
.field a {
	display: block;
	text-decoration: underline;
	color: #f15a26;
}
.err-span {
	position: absolute;
	float: left;
	font-size: 10px;
	font-weight: bold;
	color: #ed1c24;
}
::placeholder {
	font-family: roboto;
}
.react-datepicker-wrapper, .react-datepicker__input-container {
	width: 100%;
}
.title-span {
	position: relative;
    top: 3px;
    font-weight: bold;
    font-size: 25px;
}
.popup-regist {
    color: #f15a26;
    position: absolute;
    top: 100px;
    z-index: 1;
}
.close-but {
	padding: 2px !important;
	float: right;
}
.dashboard-grid {
	height: 100%;
	margin: 0 !important;
}
.App .dashboard-grid .row {
	padding: 0 !important;
}
.App .dashboard-grid .menu-column {
	padding: 14px 0 0 0 !important;
	background-color: #006838;
	opacity: 1;
}
.App .dashboard-grid .menu-menu {
	margin: 0;
	width: 100%;
    padding: 14px 0;
}
.menu-grid {
	margin: 0 !important;
}
.menu-header {
	width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu-header * {
	color: #FFFFFF;
}
.logo-name {
    display: flex;
    align-items: center;
}
.logo-name img {
	margin-right: 14px;
}
.button-column {
	display: flex;
}
.button-column button {
	padding: 2px !important;
	background-color: #006838 !important;
}
input, select {
	font-family: roboto !important;
}
.content-column {
	padding-top: 14px;
	height: 100vh;
	overflow: scroll;
}
.content-column .stadium-info .detail-stadium {
	border: none;
	box-shadow: none;
}
.stadium-grid {
	background-color: #FFFFFF;
	margin: 0 !important;
}
button {
	margin-right: 0 !important;
}
.stadium-form .field {
	display: flex;
	align-items: center;
	text-align: left;
}
button>i {
	margin-right: 0 !important;
}
.menu-menu a {
	display: flex !important;
	align-items: center !important;
}
#menu-overlay p, #menu-overlay i {
	color: #FFFFFF;
}
.date-picker-profile>div {
	width: 70%;
}
.detail-form-booking>div {
	width: 50%;
	text-align: left;
}
.search .results .result {
	cursor: default !important;
}
.icon-manager-hover:hover {
	background-color: rgba(0,0,0,0.1);
	border-radius: .28571429rem;
}
.ui.search>.ui.icon.input {
	width: 100%;
}
.sixteen.wide.column.content-column>.ui.grid.stadium-info>.ui.pointing.secondary.menu {
	overflow-x: scroll !important;
}
::-webkit-scrollbar {
    width: 3px !important;
    height: 3px !important;
}
.select-hour::-ms-expand {
    display: none;
}

@media screen and (max-width: 767px) {
	.format-form {
		width: 100%;
	}
	.stadium-form .field input, .stadium-form .field select {
		width: 100% !important;
	}
	.date-picker-profile>div {
		width: 100%;
	}
	.content-column {
		padding: 0;
	}
}